<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <h1>
            Confirmacion del Pedido
        </h1>
        <h3 style="color: rgb(185 28 28)">
            Hola <%=  data.shippingAddress.firstName %>  <%=  data.shippingAddress.lastName %>
        </h3>
        <span>Gracias por comprar con nosotros. Te enviaremos una confirmación cuando tu artículo se envíe.</span>
        <h3 style="color: rgb(185 28 28)">
            Detalles
        </h3>
        <ul>
            <% for(var i=0; i<data.orderItems.length; i++) { %>
                <li>
                    <%= data.orderItems[i].title %>
                </li>
            <% } %>
        </ul>
        <span>Esperamos volver a verte pronto</span>
    </div>
</body>
</html>